body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: rgb(228, 228, 228);
    padding-bottom: 10px;
}

.header-buttons {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    align-content: center;
}

.gameSqr {
    display: flex;
    font-size: 10vw;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 20vh);
    grid-template-rows: repeat(3, 20vh);
    gap: 15px;
}

#sqrAvail:hover {
    background-color: rgb(199, 220, 238);
}

.gameEnd {
    grid-area: 1 / 1 / span 3 / span 3;
    display: flex;
    text-align: center;
    font-size: 10vw;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

#gameHistory {
    display: grid;
    grid-template-columns: repeat(6, 10vh);
    grid-template-rows: repeat(6, 10vh);
    gap: 10px;
}

.hGame {
    display: grid;
    grid-template-columns: repeat(3, 2vh);
    grid-template-rows: repeat(3, 2vh);
    gap: 5px;
}

.hGameSqr {
    display: flex;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    background-color: rgb(228, 228, 228);
}